<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicRecs</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">MusicRecs</h1>
        <form id="search-form" class="mb-4">
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <input type="text" name="query" class="form-control" placeholder="Track or artist name" required>
                </div>
                <div class="col-md-2 mb-3">
                    <select name="search_type" class="form-control">
                        <option value="track">Track</option>
                        <option value="artist">Artist</option>
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="number" id="search_limit" name="search_limit" class="form-control" placeholder="Search Limit" required>
                </div>
                <div class="col-md-2 mb-3">
                    <input type="number" id="recommend_limit" name="recommend_limit" class="form-control" placeholder="Recommend Limit" required>
                </div>
                <div class="col-md-1 mb-3">
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </form>
        
        <h2>Search Results</h2>
        <div id="results"></div>

        <h2>Recommendations</h2> 
        <div id="recommendations"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault();

            document.getElementById('recommendations').innerHTML = '';

            let formData = new FormData(this);
            fetch('/search', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = ''; 

                if (data.error) {
                    resultsDiv.innerHTML = `<p>${data.error}</p>`;
                } else {
                    const searchType = document.querySelector('select[name="search_type"]').value;
                    data.forEach(item => {
                        let resultItem = document.createElement('div');
                        if (searchType === 'track') {
                            resultItem.innerHTML = `
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p><strong>${item.name}</strong> by ${item.artists.join(', ')}</p>
                                        <button class="btn btn-secondary" onclick="getRecommendations('${item.id}', 'track')">Get Recommendations</button>
                                    </div>
                                </div>
                            `;
                        } else if (searchType === 'artist') {
                            resultItem.innerHTML = `
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p><strong>${item.name}</strong></p>
                                        <p>Genres: ${item.genres.join(', ')}</p>
                                        <p>Popularity: ${item.popularity}</p>
                                        <button class="btn btn-secondary" onclick="getRecommendations('${item.id}', 'artist')">Get Recommendations</button>
                                    </div>
                                </div>
                            `;
                        }
                        resultsDiv.appendChild(resultItem);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function getRecommendations(itemId, itemType) {
            const recommendLimit = document.getElementById('recommend_limit').value;
            
            console.log(`Getting recommendations for item_id: ${itemId}, itemType: ${itemType}, recommendLimit: ${recommendLimit}`);

            fetch('/recommend', {
                method: 'POST',
                body: new URLSearchParams({
                    item_type: itemType,
                    item_id: itemId,
                    recommend_limit: recommendLimit
                })
            })
            .then(response => response.json())
            .then(data => {
                let recommendationsDiv = document.getElementById('recommendations');
                recommendationsDiv.innerHTML = ''; 
                if (data.error) {
                    recommendationsDiv.innerHTML = `<p>${data.error}</p>`;
                } else {
                    if (itemType === 'track') {
                        data.forEach((item, index) => {
                            recommendationsDiv.innerHTML += `<p>${index + 1}: ${item.name} by ${item.artists.join(', ')}</p>`;
                        });
                    } else if (itemType === 'artist') {
                        data.forEach((item, index) => {
                            recommendationsDiv.innerHTML += `<p>${index + 1}: ${item.name}</p>`;
                        });
                    }
                    recommendationsDiv.scrollIntoView({ behavior: 'smooth' });

                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>

